:root {

	--s: 30px; /* control the size */
  
	--_g: linen /* first color */ 0 22%,#0000 0 50%;
	background:
	 repeating-conic-gradient(at 33% 66%,var(--_g)),
	 repeating-conic-gradient(at 66% 33%,var(--_g)),
	 #EB6841;  /* second color */ 
	background-size: var(--s) var(--s); 
  
   }

	
.kick-div
	{
		position:absolute;
		margin-left:-500px;
		margin-top:-500px;
		left:50%;
		top:50%;
		width:1000px;
		height:1000px;
	}
	
.kick-carousel
	{
		position:absolute;
		margin-left:-500px;
		margin-top:-500px;
		left:50%;
		top:50%;
		width:1000px;
		height:1000px;
	}
	

	
